@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}


/* Header */
.about {
    position: absolute;
    margin: 0 auto;
    line-height: 100px;
    z-index: 1;
}

.about h1 {
    margin: 0 auto;
    justify-content: center;
}

.about nav {
    display: flex;
    justify-content: space-between;
    padding-left: 170px;
}

.about nav>ul>li {
    position: relative;
}

.about .left,
.about .right {
    display: flex;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.about .left {
    gap: 50px;
}

.about .right {
    gap: 20px;
}

.about h1 {
    padding: 0 60px 0 110px;
}

.about .country {
    display: flex;
    gap: 10px;
}

.about .right .icon {
    font-size: 18px;
}

.about .right img {
    width: 14px;
}



/* 다단메뉴 */
nav>ul>li>a {
    display: block;
    padding: 0 25px;
}

nav>ul ul a {
    display: block;
    line-height: 40px;
    text-align: center;
}

nav>ul>li {
    position: relative;
}

nav>ul>li ul {
    position: absolute;
    inset: 90px auto auto 50%;
    z-index: 999;
    visibility: hidden;
    width: 150%;
    transform: translateX(-50%);
    background: #fff;
    opacity: 0;
    text-align: center;
}

nav>ul>li:hover ul {
    inset: 80px auto auto 50%;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

nav>ul>li>ul>li:hover {
    background: #e8a2ad;
    color: #fff;
    transition: 0.5s;
}

nav>ul>li ul li {
    position: relative;
    background: #fff;
}